@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,700;1,400&display=swap');

$heading-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;

$Very-Dark-Blue: rgb(7, 4, 57);
$Desaturated-Blue: rgb(88, 89, 137);
$Bright-Blue: rgb(48, 101, 248);
$Moderate-Cyan: rgb(60, 159, 143);
$Light-Grayish-Blue: rgb(246, 246, 254);
$Light-Gray: rgb(191, 191, 191);
$white: rgb(255, 255, 255);
$red:rgb(255, 31, 31);

